In [4]:
import pandas as pd
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler

In [5]:
df = pd.read_csv('clientes-v2-tratados.csv')

In [6]:
df = df[['idade', 'salario']]

In [11]:
# Normalizacao - MinMaxScaler

scaler = MinMaxScaler()

df['idadeMinMaxScaler'] = scaler.fit_transform(df[['idade']])
df['salarioMinMaxScaler'] = scaler.fit_transform(df[['salario']])

# Escolhendo o vlr Min e Max

min_max_scaler = MinMaxScaler(feature_range=(-1,1))
df['idadeMinMaxScaler_mn'] = min_max_scaler.fit_transform(df[['idade']])
df['salarioMinMaxScaler_mn'] = min_max_scaler.fit_transform(df[['salario']])

df

,idade,salario,idadeMinMaxScaler,salarioMinMaxScaler,idadeMinMaxScaler_mn,salarioMinMaxScaler_mn
0,56,13550.54,0.520548,0.429638,0.041096,-0.140724
1,49,3124.72,0.424658,0.062257,-0.150685,-0.875487
2,54,7534.60,0.493151,0.217650,-0.013699,-0.564699
3,61,4067.73,0.589041,0.095486,0.178082,-0.809028
4,30,6809.94,0.164384,0.192115,-0.671233,-0.615770
...,...,...,...,...,...,...
8624,31,4596.30,0.178082,0.114112,-0.643836,-0.771777
8625,42,3122.14,0.328767,0.062166,-0.342466,-0.875669
8626,24,4361.52,0.082192,0.105838,-0.835616,-0.788323
8627,63,13283.77,0.616438,0.420238,0.232877,-0.159524
8628,59,3523.88,0.561644,0.076322,0.123288,-0.847356

In [15]:
# Padronizacao - StandardScaler

scaler = StandardScaler()
df['idadeStandardScaler'] = scaler.fit_transform(df[['idade']])
df['salarioStandardScaler'] = scaler.fit_transform(df[['salario']])

df[['idade', 'salario', 'idadeStandardScaler', 'salarioStandardScaler']]

      idade   salario  idadeStandardScaler  salarioStandardScaler
0        56  13550.54             1.038112               1.949011
1        49   3124.72             0.583582              -1.048690
2        54   7534.60             0.908246               0.219268
3        61   4067.73             1.362775              -0.777549
4        30   6809.94            -0.650140               0.010909
...     ...       ...                  ...                    ...
8624     31   4596.30            -0.585208              -0.625571
8625     42   3122.14             0.129053              -1.049431
8626     24   4361.52            -1.039737              -0.693077
8627     63  13283.77             1.492641               1.872307
8628     59   3523.88             1.232910              -0.933921

[8629 rows x 4 columns]

In [18]:
# Padronizacao - RobustScaler

scaler = RobustScaler()
df['idadeRobustScaler'] = scaler.fit_transform(df[['idade']])
df['salarioRobustScaler'] = scaler.fit_transform(df[['salario']])

df[['idade', 'salario', 'idadeRobustScaler', 'salarioRobustScaler']]

      idade   salario  idadeRobustScaler  salarioRobustScaler
0        56  13550.54           0.782609             1.775780
1        49   3124.72           0.478261            -0.696404
2        54   7534.60           0.695652             0.349273
3        61   4067.73           1.000000            -0.472796
4        30   6809.94          -0.347826             0.177440
...     ...       ...                ...                  ...
8624     31   4596.30          -0.304348            -0.347461
8625     42   3122.14           0.173913            -0.697016
8626     24   4361.52          -0.608696            -0.403132
8627     63  13283.77           1.086957             1.712524
8628     59   3523.88           0.913043            -0.601755

[8629 rows x 4 columns]

In [ ]:
print('MinMaxScaler de 0 a 1')
print('Idade - Min: {:.4f} ; Max:{:.4f} ; Mean: {:.4f} ; Std: {:.4f}'.format(df['idadeMinMaxScaler'].min(), df['idadeMinMaxScaler'].max(), df['idadeMinMaxScaler'].mean(), df['idadeMinMaxScaler'].std()))
print('Salario - Min: {:.4f} ; Max:{:.4f} ; Mean: {:.4f} ; Std: {:.4f}'.format(df['salarioMinMaxScaler'].min(), df['salarioMinMaxScaler'].max(), df['salarioMinMaxScaler'].mean(), df['salarioMinMaxScaler'].std()))

MinMaxScaler de 0 a 1
Idade - Min: 0.0000 ; Max:1.0000 ; Mean: 0.3015 ; Std: 0.2110
Salario - Min: 0.0000 ; Max:1.0000 ; Mean: 0.1908 ; Std: 0.1226

In [25]:
print('StandardScaler de 0 a 1')
print('Idade - Min: {:.4f} ; Max:{:.4f} ; Mean: {:.4f} ; Std: {:.4f}'.format(df['idadeStandardScaler'].min(), df['idadeStandardScaler'].max(), df['idadeStandardScaler'].mean(), df['idadeStandardScaler'].std()))
print('Salario - Min: {:.4f} ; Max:{:.4f} ; Mean: {:.4f} ; Std: {:.4f}'.format(df['salarioStandardScaler'].min(), df['salarioStandardScaler'].max(), df['salarioStandardScaler'].mean(), df['salarioStandardScaler'].std()))

StandardScaler de 0 a 1
Idade - Min: -1.4293 ; Max:3.3108 ; Mean: 0.0000 ; Std: 1.0001
Salario - Min: -1.5567 ; Max:6.6030 ; Mean: 0.0000 ; Std: 1.0001

In [26]:
print('RobustScaler de 0 a 1')
print('Idade - Min: {:.4f} ; Max:{:.4f} ; Mean: {:.4f} ; Std: {:.4f}'.format(df['idadeRobustScaler'].min(), df['idadeRobustScaler'].max(), df['idadeRobustScaler'].mean(), df['idadeRobustScaler'].std()))
print('Salario - Min: {:.4f} ; Max:{:.4f} ; Mean: {:.4f} ; Std: {:.4f}'.format(df['salarioRobustScaler'].min(), df['salarioRobustScaler'].max(), df['salarioRobustScaler'].mean(), df['salarioRobustScaler'].std()))

RobustScaler de 0 a 1
Idade - Min: -0.8696 ; Max:2.3043 ; Mean: 0.0875 ; Std: 0.6696
Salario - Min: -1.1153 ; Max:5.6139 ; Mean: 0.1684 ; Std: 0.8247